/* QUEM SOMOS */

#quem-somos {
    min-height: 115dvh;
    height: auto;

    background-color: #142D72;

    display: flex;
    align-items: center;

    padding: 8rem 9rem 10rem;
}

.quem-somos-conteudo {
    width: 100%;
}

.titulo-quem-somos span {
    font-family: "Fira Code", monospace;
    font-size: 2.5rem;
    font-weight: 500;

    color: #ffb326;
}

.titulo-quem-somos h2 {
    margin-top: 0.5rem;

    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    font-weight: 700;

    color: white;
}

.linha-titulo {
    width: 7rem;
    height: 0.25rem;

    margin-top: 1rem;

    background-color: #ffb326;
}

.quem-somos-bloco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;

    margin-top: 3rem;
}

.texto-quem-somos {
    width: 50rem;

    margin-left: 4rem;
}

.texto-quem-somos p {
    margin-bottom: 2rem;

    font-family: "Fira Code", monospace;
    font-size: 1.2rem;
    font-weight: 500;

    line-height: 1.8;

    color: white;
}


.logo-rfs img {
    width: 13rem;
    height: auto;
    position: relative;
    left: 4.5rem;
    object-fit: contain;

    display: block;
}

.logo-parceria-linha {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 5rem;
    color: #ffffff;
    text-align: center;
}

.logo-parceria img {
    width: 10rem;
    height: auto;

    object-fit: contain;

    display: block;
}
/* RESPONSIVIDADE */

@media (max-width: 1200px) {
    #quem-somos {
        padding: 8rem 5rem 6rem;
    }
}

    .texto-quem-somos {
        width: 30rem;
        margin-left: 0;
    }

    .logo-rfs img {
    width: 10.5rem;
}

    .logo-parceria img {
        width: 8.5rem;
}

    .logo-parceria-linha {
        gap: 3.5rem;
}


@media (max-width: 992px) {
    #quem-somos {
        min-height: 100dvh;

        padding: 8rem 3rem 4rem;
    }
}

    .quem-somos-bloco {
        flex-direction: column;
        gap: 3rem;

        margin-top: 2rem;
    }

    .texto-quem-somos {
        width: 100%;
        margin-left: 0;
    }

    .texto-quem-somos p {
        text-align: left;
    }

    .logos-parceria {
    gap: 3rem;
}

    .logo-rfs img {
        width: 9.5rem;
}

    .logo-parceria img {
        width: 8rem;
}

    .logo-parceria-linha {
        gap: 3rem;
}

@media (max-width: 480px) {
    #quem-somos {
        padding: 7rem 1.5rem 3rem;
    }

    .titulo-quem-somos span {
        font-size: 1.5rem;
    }

    .titulo-quem-somos h2 {
        font-size: 2rem;
    }

    .linha-titulo {
        width: 5rem;
    }

    .texto-quem-somos p {
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
        line-height: 1.7;
    }

    .logos-parceria {
    gap: 2.2rem;
    }

    .logo-rfs img {
        width: 8rem;
    }

    .logo-parceria img {
        width: 6.5rem;
    }

    .logo-parceria-linha {
        gap: 2.2rem;
    }

    .logo-parceria span {
    font-size: 0.8rem;
    }
}